ansible==2.7.8
ara==0.16.3
gunicorn==19.9.0
cryptography>=41.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
flask>=2.2.5 # not directly required, pinned by Snyk to avoid a vulnerability
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
oslo.utils>=4.8.1 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
